.admin_area {
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	width:180px;
	text-align: center;
}

.admin_area a {
    text-decoration: none;
}

#admin_area_to_easy {
    margin-top: 13px;
}

#admin_area_to_advanced {
    border-color: #464646;
}

#admin_area_to_advanced a {
    color: #ffffff;
}

#screen-meta {
    display: none;
}

#wphead #admin_area_to_easy, #wphead #admin_area_to_advanced {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

#wpwrap #quicktags #ed_link {
color: #059AE7;
}

#wpwrap .wrap h2 {
  padding-right: 3px !important;
}

#wizard_step {
	background: #FFFFFF;
	padding: 2%;
	float: left;
	width: 96%;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wpcontent #wizard_complete #admin_area_view_blog {
	padding-left: 0px !important;
}

.complete_button {
	margin: 0px;
	padding: 0px 0px 10px;
	float: left;
	width: 100%;
}

#view_your_blog .complete_button a {
	background: #eee url(images/visit.png) no-repeat 10px center;
	border-top: 1px solid #eee;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #eee;
	font-size: 13px !important;
	color: #333333;
	font-weight: bold;
	padding: 18px 25px 18px 55px !important;
	display: block;
	margin: 0px;
	float: left;
	width: auto !important;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#wpwrap .easy_info {
	margin: 0px;
	float: left;
	width: 80% !important;
	padding-left: 15% !important;
	padding-right: 5% !important;
	text-align: left;
	background: #F0FBFF url(images/info_icon.gif) no-repeat 10px center;
}
#edit_your_blog .complete_button a {
	background: #eee url(images/continue.png) no-repeat 10px center;
	border-top: 1px solid #eee;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #eee;
	font-size: 13px !important;
	color: #333333;
	font-weight: bold;
	padding: 18px 25px 18px 55px !important;
	display: block;
	margin: 0px;
	float: left;
	width: auto !important;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}



.step_wizard_block {
	margin: 0px 0px 25px;
	padding: 0px 0px 25px;
	float: left;
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.step_wizard_block .step_num {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px 35px 0px 0px;
	padding: 4px 8px;
	float: left;
	width: 90px;
	background: #059AE7 url(images/shade-hover.png) repeat-x left bottom;
	border: 1px solid #059AE7;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	display: block;
	text-align: center;
	-moz-box-shadow:0 0 1px #333333;
	text-shadow:0 0 1px #111111;
}
.step_wizard_block .step_action {
	font-size: 18px !important;
	color: #111;
	margin: 0px;
	padding: 5px 0px 0px;
	float: left;
	width: 60%;
}
.step_wizard_block .complete_wizard {
	background: #FFFFFF;
	border-width: 0px;
	border-style: none;
	width: 40px;
	margin: 0px 20px 0px 0px;
	padding: 0px;
	float: left;
	display: block;
	height: 40px;
}
.view-blog {
	background: url(images/visit.png) no-repeat center center !important;
}
.continue-edit {
	background: url(images/continue.png) no-repeat center center !important;
}
.easy-on {
	background: url(images/icons/easy.png) no-repeat center center !important;
}
.advance-on {
	background: url(images/icons/advance.png) no-repeat center center !important;
}