#wpwrap #wpcontent #wpbody {
	margin-left:0;
}


.wrap a, #adminmenu a, #poststuff #edButtonPreview, #poststuff #edButtonHTML, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {
color: #059AE7;
}

.wrap {
    margin:0 5px;
}
#adminmenu {
    display: none;
}
#wphead-info {
    display: none;
}
#easy_admin_tabs .ui-state-hover a, #easy_admin_tabs .ui-widget-content .ui-state-hover a, #easy_admin_tabs .ui-state-focus a,
#easy_admin_tabs .ui-widget-content .ui-state-focus a, #easy_admin_tabs .ui-widget-content .ui-state-hover a:hover,
#easy_admin_tabs .ui-widget-content .ui-state-focus a:hover {
    color: #ffffff;
}

#easy_admin_tabs .ui-state-active a, #easy_admin_tabs .ui-state-active a:hover {
    color: #000000;
}

.ui-state-default a, .ui-widget-content .ui-state-default a {
    font-weight: bold;
}

#footer p {
    display:none;
}
/*Theme colors*/
#wpwrap input[type="button"], 
#wpwrap .button:active, #wpwrap .submit input:active,
#wpwrap .button-secondary:active,
#wpwrap .submit input, #wpwrap .button,
#wpwrap input.button, #wpwrap .button-primary,
#wpwrap input.button-primary,
#wpwrap .button-secondary, #wpwrap input.button-secondary,
#wpwrap .button-highlighted, #wpwrap input.button-highlighted,
#wpwrap #postcustomstuff .submit input {
	padding: 2px 5px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #EBF7FF;
	text-shadow: none !important;
	color: #059AE7;
	font-weight: normal;
	font-family: "Lucida Grande", "Lucida Sans", sans-serif;
	border-right: 1px solid #78CEF8;
	border-bottom: 1px solid #54C1F5;
	border-top: 1px solid #EBF7FF;
	border-left: 1px solid #EBF7FF;
}

#wpwrap .button:hover,
#wpwrap .button-secondary:hover,
#wpwrap .submit input:hover,
#wpwrap input[type=button]:hover,
#wpwrap input[type=submit]:hover {
	color: #ffffff !important;
	background-color: #059AE7;
	border-top: 1px solid #059AE7;
	border-right: 1px solid #0477B5;
	border-bottom: 1px solid #047BBB;
	border-left: 1px solid #059AE7;
}

#message {
    clear: both;
}

#wpbody-content > #update-nag {
    border: 1px solid #428EA8; background: #f0fbff; color: #428EA8;
}

.admin_area_step { 
    margin: 0 30px 0 0;
    width:45%;
    float: left;
}

#logout {
    float: right;
    margin: 14px 20px 0 0;
}
    
#logout a {
    color: #CCCCCC;
}
    
#logout a:hover {
    color: #CCCCCC;
}

.clear{
	clear: both;
}

#welcome-area {
    padding-left: 45px;
}

#welcome-area .admin_area {
    float: left;
}

#welcome-area .admin_area_step {
    text-align: left;
}


/* customized button gfx */
#help_button .button {
	background: #eee url(images/icons/help_support.png) no-repeat 10px center;
	border-top: 1px solid #eee;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #eee;
	font-size: 18px !important;
	color: #333333;
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: normal;
	font-family: Georgia, serif;
}

#help_button .button:hover {
	background: #059AE7 url(images/icons/help_support.png) no-repeat 10px center;
}

#wpwrap #ed_link {
	color: #059AE7 !important;
	text-decoration: none;
}
#wpwrap #ed_link:hover {
	color: #fff !important;
	text-decoration: none;
}

#welcome-area #admin_area_to_advanced {
	background: #eee url(images/icons/advance.png) no-repeat 10px center;
	border-top: 1px solid #ddd;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #ddd;
	font-size: 17px !important;
	color: #333333;
	font-weight: normal;
	font-family: Georgia, serif;
	display: block;
	padding: 15px 15px 15px 45px !important;
	width: auto;
	margin: 0px 0px 8px;
	float: left;
}
#welcome-area #admin_area_to_advanced:hover {
	background: #eee url(images/icons/advance.png) no-repeat 10px center;
	border-top: 1px solid #ddd;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #ddd;
	font-size: 17px !important;
	color: #000000 !important;
	font-weight: normal;
	font-family: Georgia, serif;
	display: block;
	padding: 15px 15px 15px 45px !important;
	width: auto;
	margin: 0px 0px 8px;
	float: left;
	text-decoration: underline;
}

#welcome-area #admin_area_to_easy {
	background: #eee url(images/icons/easy.png) no-repeat 10px center;
	border-top: 1px solid #ddd;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #ddd;
	font-size: 17px !important;
	color: #333333;
	font-weight: normal;
	font-family: Georgia, serif;
	display: block;
	padding: 15px 15px 15px 45px !important;
	width: auto;
	margin: 0px 0px 8px;
	float: left;
}
#welcome-area #admin_area_to_easy:hover {
	background: #eee url(images/icons/easy.png) no-repeat 10px center;
	border-top: 1px solid #ddd;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #ddd;
	font-size: 17px !important;
	color: #000000 !important;
	font-weight: normal;
	font-family: Georgia, serif;
	display: block;
	padding: 15px 15px 15px 45px !important;
	width: auto;
	margin: 0px 0px 8px;
	float: left;
	text-decoration: underline;
}


#hidden_tab {
	display: none;
}
#profile-php {
	background: url(images/icons/profile.png) no-repeat 10px center;
	padding-left: 35px;
}
#profile-php:hover {
	background: url(images/icons/profile.png) no-repeat 10px center;
	padding-left: 35px;
}#welcome-area h4 {
	font-size: 18px;
	margin: 0px 0px 30px;
	padding: 0px 0px 15px;
	float: left;
	width: 100%;
	border-bottom: 1px solid #dedede;
}

#welcome-area-box {
	background: #FFFFFF;
	border: 2px solid #ddd;
	margin: 0px 0px 50px !important;
	padding: 2%;
	float: left;
	width: 80%;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
